<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Just do it</title>

	<link rel="stylesheet" href="css/styles.css">
	<script data-main="js/main" src="vendors/require.js"></script>
</head>
<body>
	<div id="container">
		<!-- mon formulaire de saisie -->
		<div id="menu">
			<a href="#actions">Actions</a>
			<a href="#contexts">Contexts</a>
			<a href="#objectives">Objectives</a>
		</div>
		<div class="page">
			<div id="sub-container">
			</div>
		</div>
		<div id="test">
			<div id="actionform-container">
			</div>
			<div id="contextform-container">
			</div>
		</div>
	</div>
	<!-- template definitions -->
	<!-- Views
	Form add: actions, projects, contexts
	Actions list, flag action done from list
	add/view/edit : action, project, context
	Filters menu : by projects, by context, by status (done)
	assign action group some properties: project
	-->
	<script type="text/template" id="action-template">
		<div>title: <%= title %></div>
		<div>Description: <%= desc %></div>
		<div>Contexts:
			<% _.each(contexts, function(context){%>
				<%=context.text%>,
			<% }); %>
		</div>
	</script>
	<script type="text/template" id="actions-template">
		<ol>
			<% _.each(actions, function(action) { %>
			<li id="<%= action.id %>"><a href="#action/<%= action.id %>/view"><%= action.title %></a> <span class="remove">x</span></li>
			<% }); %>
		</ol>
	</script>
	<script type="text/template" id="list-template">
		<ol>
			<% _.each(items, function(item) { %>
			<li id="<%= item.id %>"><a href="#item/<%= item.id %>/view"><%= item.text %></a> <span class="remove">x</span></li>
			<% }); %>
		</ol>
	</script>
	<script type="text/template" id="actionForm-template">
		<form action="/">
			<p>
				<input type="text" class="title" placeholder="Action" />
			</p>
			<p>
				<input type="text" class="desc" placeholder="Description"/>
			</p>
			<p>
				<% _.each(contexts, function(context) { %>
				<input type="checkbox" name="contexts" value="<%=context.id%>"><%=context.text%><br>
				<% }); %>
			</p>
			<input type="submit" class="submit" value="Create" />
		</form>
	</script>
	<script type="text/template" id="contextForm-template">
		<form action="/">
			<p>
				<input type="text" class="title" placeholder="Context"/>
			</p>
			<p>
				<input type="text" class="desc" placeholder="Details"/>
			</p>
			<p>
				<input type="text" class="nature" placeholder="Nature"/>
			</p>
			<input type="submit" class="submit" value="Create" />
		</form>
	</script>
</body>
</html>